body {
  margin: 0;
  font-family: "Arial";
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  
}

img {
  width: 15%;
  margin-top: 60px;
  transition: all 200ms;
  cursor: pointer;
}

img:hover{
  padding: 10px;
  border: 6px dotted rebeccapurple;
  
}

@media (min-width: 768px) and (max-width: 1200px) {


  .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

img {
  
  width: 16%;
  cursor: pointer;
}

img:hover{
  padding: 10px;
  border: 6px dotted rebeccapurple;
  
}



h1{
  font-size: 20px;
}

}

@media (max-width: 767px) {
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

img {
  width: 30%;
  
  cursor: pointer;
}

img:hover{
  padding: 10px;
  border: 6px dotted rebeccapurple;
  
}

h1{
  font-size: 16px;
}
   
}

